<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/img/carpentries-incubator.svg" alt="The Carpentries Incubator logo" height="95">
    <h1 class="display-5 fw-bold">The Carpentries Incubator</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Design. Develop. Teach. Reflect. Repeat.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://github.com/carpentries-incubator/proposals/issues/new?assignees=&labels=&template=issue_proposal.md"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Submit a lesson proposal</button></a>
        <a href="https://carpentries.org/community-lessons/"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Browse lessons</button></a>
      </div>
    </div>
  </div>
