<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/img/carpentries-incubator.svg" alt="" width="" height="95">
    <h1 class="display-5 fw-bold">The Carpentries Incubator</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The Carpentries Incubator is repository for collaborative, community-led, lesson development using the pedagogical approach of The Carpentries. From analysis of time series to your first scripts in Julia, find a lesson to learn from or contribute your expertise.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Submit a lesson proposal</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Browse existing lessons</button>
      </div>
    </div>
  </div>
