<div class="container col-xxl-8 px-4 py-5">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="container-md">
        <h2 class="display-5 fw-bold lh-1 mb-3">Featured Lessons</h2>
        <div class="carousel-inner">
        <div class="container">
          <div class="carousel-item active">
          <div class="row">
            {% assign spotlight_lessons = site.data.spotlight | slice: 0, 2 %}
            {% for spotlight in spotlight_lessons %}
              <div class="col-sm">
              <div class="h-100 card">
                <div class="card-body">
                  <h5 class="card-title">{{ spotlight.title }}  <span class="badge {{ spotlight.life_cycle }}">{{ spotlight.life_cycle }}</span></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ spotlight.teaser }}</h6>
                  <a href="{{ spotlight.spotlight }}" class="btn btn-primary">Spotlight feature</a>
                  <a href="https://carpentries-incubator.github.io/{{ spotlight.slug }}/" class="btn btn-outline-primary">Lesson pages</a>
                  <a href="https://github.com/carpentries-incubator/{{ spotlight.slug }}/" class="btn btn-outline-primary">Lesson repository</a>
                </div>
              </div>
              </div>
            {% endfor %}
            </div>
            </div>
            <div class="carousel-item">
            <div class="row">
            {% assign spotlight_lessons = site.data.spotlight | slice: 2, 2 %}
            {% for spotlight in spotlight_lessons %}
              <div class="col-sm">
              <div class="h-100 card">
                <div class="card-body">
                  <h5 class="card-title">{{ spotlight.title }}  <span class="badge {{ spotlight.life_cycle }}">{{ spotlight.life_cycle }}</span></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ spotlight.teaser }}</h6>
                  <a href="{{ spotlight.spotlight }}" class="mb-0 btn btn-primary">Spotlight feature</a>
                  <a href="https://carpentries-incubator.github.io/{{ spotlight.slug }}/" class="btn btn-outline-primary">Lesson pages</a>
                  <a href="https://github.com/carpentries-incubator/{{ spotlight.slug }}/" class="btn btn-outline-primary">Lesson repository</a>
                </div>
              </div>
              </div>
            {% endfor %}
          </div>
          </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</div>
